footer(
    class="footer-2"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        div

            ul

                li
                    a(href="https://www.logilab.fr") Logilab
                li
                    a(href="https://pypi.org/search/?q=cubicweb") CubicWeb on PyPI
                li
                    a(href="https://jenkins.logilab.org/view/CubicWeb/") Jenkins CI
                li
                    a(href="https://jenkins.logilab.org/view/Cubes/") Jenkins CI for cubes

        div

            ul

                li
                    a(href="https://bitbucket.org/repo/all/?name=cubicweb") CubicWeb on Bitbucket

                li
                    a(href="https://www.slideshare.net/search/slideshow?q=cubicweb&submit=post&commit=Search") CubicWeb on Slideshare

        div

            table(class="vcard")

                thead

                    tr

                        th(colspan="2" class="org") Made with ❤️️ at Logilab

                tbody

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-address")
                        td(class="street-address") 104 boulevard Louis-Auguste Blanqui

                    tr
                        td
                        td(class="locality") Paris

                    tr
                        td
                        td(class="postal-code") 75013

                    tr
                        td
                        td(class="country-name") France

        div

            ul

                li

                    a(href="https://twitter.com/cubicweb")

                        svg(role="img" title="Follow us on Twitter")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-twitter")
                li

                    a(href="https://fosstodon.org/@cubicweb")

                        svg(role="img" title="Follow us on Mastodon")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-mastodon")

                li

                    a(href="xmpp://public@conference.jabber.logilab.org")

                        svg(role="img" title="Discuss with us on Jabber/XMPP")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-jabber")

                li

                    a(href="https://forge.extranet.logilab.fr/cubicweb/")

                        svg(role="img" title="Get the code on the forge")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-heptapod")
