extends ../root

block body

    body(id=bodyId class=bodyClass)

        block header

            +header-1("/#front", "cubicweb", "CubicWeb", [
                {
                    href: "/#overview",
                    name: "Overview"
                },
                {
                    href: "/#download",
                    name: "Download"
                },
                {
                    href: "/#documentation",
                    name: "Documentation"
                },
                {
                    href: "/#news",
                    name: "News"
                },
                {
                    href: "/#code",
                    name: "Code"
                },
            ])

        block main

        block footer

            include ../../components/footers/2/_

        //- end-of-body script insertion
        block inject

        //- compatibility
        noscript This application require JavaScript, please enable it.
