head

    meta(charset="utf-8")

    block description
        meta(name="description" content="Describe the document.")

    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimum-scale=0.5")
    meta(name="generator" content="Platframe")

    title= pageTitle || "CubicWeb Semantic Web Framework"

    block links
        - if (ENV === 'production')
            link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700")
        link(rel="stylesheet" href=`/assets/styles/root.css?v=${ TIME }`)
        link(rel="icon" href="/assets/images/global/_link/favicon.png")

    block scripts
        script(defer src=`/assets/logic/js/root.js?v=${ TIME }`)
