footer(
    class="footer-1"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        div

            ul

                li
                    a(href="https://www.logilab.fr") Logilab
                li
                    a(href="https://pypi.org/search/?q=cubicweb") CubicWeb on PyPI
                li
                    a(href="https://jenkins.logilab.org/view/CubicWeb/") Jenkins CI
                li
                    a(href="https://jenkins.logilab.org/view/Cubes/") Jenkins CI for cubes

        div

            h2 Productum Tractus

            ul

                li.rollover
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-1-rollover")
                    span Caption #[br]01
                li.rollover
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-1-rollover")
                    span Caption #[br]02
                li.rollover
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-1-rollover")
                    span Caption #[br]03
                li.rollover
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-1-rollover")
                    span Caption #[br]04
                li.rollover
                    svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-1-rollover")
                    span Caption #[br]05

        div(itemscope itemtype="http://schema.org/LocalBusiness")

            table

                thead
                    tr: th(colspan="2" class="org" translate="no" itemprop="name") Ordinem Nomine

                tbody(itemprop="address" itemscope itemtype="http://schema.org/PostalAddress")

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-1-address")
                        td(itemprop="streetAddress" translate="no")  104 boulevard Louis-Auguste Blanqui
                    tr
                        td
                        td(itemprop="addressLocality") Paris
                    tr
                        td
                        td(itemprop="postalCode") 75013
                    tr
                        td
                        td(itemprop="addressCountry") France
                    tr
                        td: svg: use(use xlink:href="/assets/images/_sprites/symbols.svg#footer-1-phone")
                        td: a(href="tel:33-1-45-32-03-12" itemprop="telephone")  (+33) 1 45 32 03 12
