section(class="canvas front" id="front")

    div(class="content")

        h2 CubicWeb

        div

            p The Semantic Web is a construction game !

            div

                a(href="#section-2") Documentation
                a(href="#section-3") Forge

    +nav-1("section-1")
