section(class="canvas section-2" id="section-2")

    h2 Building blocks

    div(class="content")

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Python
                p.
                    Alita sunt encapsulated in modularized dum re-utilis componentia funcionalidades
                    est, evolutionis et sustentacionem facere facillimus.

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Postgresql
                p.
                    De bellis primaria est de cursu. Ledo terram currit et uirtutem robustam, te
                    studiosíssime reténtis ficti videantur innitatur launch consilio ad tribunal a
                    quo.

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 ReactJS
                p.
                    Id in suggestu tu targeting, hoc non habet aliquid compage tooling ut tabernus
                    in subsidium et infinita puncta media confractus, query in auxilio tuo.

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Semantic Web
                p.
                    Cum modularis differentialis architectura vis et quantum vis compage. Vel iustus
                    utor vestri arbitrium of ars assituationem enable velit moduli.

    +nav-1("section-3")
