section(class="canvas section-1" id="section-1")

    h2 Section 1

    div(class="content")

        div

            img(src="images/home/section-1/_inline/image.svg" inline)

            article

                h2 Features

                ul

                    li engine driven by the explicit data model of the application,
                    li a query language named RQL similar to W3C’s SPARQL,
                    li a selection+view mechanism for semi-automatic XHTML/XML/JSON/text generation,
                    li a library of reusable components (data model and views) that fulfill common needs,
                    li the power and flexibility of the Python programming language,
                    li the reliability of SQL databases, LDAP directories and Mercurial for storage backends).

    +nav-1("section-2")
